body {
    margin: 0;
    background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3) fixed;
    background-size: 1800% 1800%;
    animation: rainbow 18s ease-in-out infinite;
}

bold {
    font-weight: 600;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    padding: 64px;
    gap: 32px;
}

.intro {
    width: 512px;
    height: 96px;
    padding: 40px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 4px;
    opacity: 0;
    animation: zoom-in 0.6s ease;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
}

.title {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: #ffffff;
    margin: 0;
}

.intro-description {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
    margin: 0;
}

.intro-socials-flex {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8px;
    margin-top: 10px;
}

.intro-social {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border-radius: 9999px;
    background: rgba(0, 0, 0, 0.4);    
    transition: all 0.2s;
    text-decoration: none;
}

.intro-social:hover {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.2);    
}

.popup {
    position: absolute;
    bottom: 73px;
    padding: 6px 12px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.8);    
    transition: all 0.2s;
    transition-delay: 0.1s;
    opacity: 0;
    visibility: hidden;
}

.intro-social:hover .popup {
    opacity: 1;
    visibility: visible;
}

.popup-text {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #ffffff;
    margin: 0;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes zoom-in {
    0% {
        opacity: 0;
        transform: scale(110%);
    }
    100% {
        opacity: 1;
        transform: scale(100%);
    }
}

@keyframes rainbow { 
    0% { background-position: 0% 82% }
    50% { background-position: 100% 19% }
    100% { background-position: 0% 82% }
}

@media (max-width: 768px) {
    body {
        animation: rainbow 2s ease-in-out infinite;
    }

    .intro {
        width: 100%;
        height: auto;
        margin: 0 20px;
        min-width: 150px;
    }

    .popup {
        bottom: 80px;
    }
}